* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.bg-dark {
    background-color: #6c196b !important;
}

.bg-primary {
    background-color: #f7d8f7 !important
}

.text-purple {
    color: #6c196b
}

.bg-gray {
    background-color: #555;
}

ul.objective {
    margin: 0px;
}

ul.objective li {
    list-style: none;
    padding: 5px;
    background-color: #f7d8f7;
    padding: 5px 10px;
    border: 1px solid #cdcdcd;
    margin: 5px;
    border-radius: 10px 0px 10px;
    border-left: 10px solid #6c196b
}

h2 {
    border-left: 10px solid #555;
    border-right: 2px solid #555;
    padding-left: 10px;
    background-color: #e1e1e1;
    font-weight: 80%;
    border-radius: 10px 10px 0px;
}

.slide {
    background-color: #fff000
}

.imgx {
    position: relative;
    width: 100%;
    height: auto;
}


/* Style the links inside the navigation bar */

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.navbar a:hover {
    /* background-color: #ddd;*/
    color: black;
}


/* Add an active class to highlight the current page */

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}


/* Hide the link that should open and close the topnav on small screens */

.navbar .icon {
    display: none;
}

.navbar-toggler-icon {
    width: 0.8em;
    height: 0.8em;
}

.dropdown-menu {
    background-color: #6c196b;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.navbar a.active {
    background-color: #f7d8f7;
    color: #000;
    font-weight: bold;
    border-left: 10px solid #f7a5f7;
}

.header-node {
    display: grid;
    grid-template-columns: 140px minmax(200px, auto) auto;
    grid-gap: 10px;
}

.item-a img {
    max-width: 100%;
    justify-self: end;
}

.item-a,
.item-c {
    height: auto;
    justify-self: center;
    place-self: end;
}

.item-b {
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
    justify-self: start;
    place-self: start;
}

.item-c {
    place-self: center;
}

.cbse {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 121);
    letter-spacing: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 500px;
    background-color: #f7d8f7;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
}

.grid-item>h6 {
    font-size: 20px;
    font-weight: bold;
}

.grid-item>div {
    font-size: 17px;
    text-align: justify;
    line-height: 24px;
}

.grid-item img {
    width: 450px;
    height: 275px;
    object-fit: none;
    object-position: 90% 90%;
}

.science>img {
    width: 400px;
    object-fit: cover;
}

.text-purple {
    font-size: 3.5rem;
}

.text-purple-80 {
    font-size: 0.8rem;
}

.slideshow-container .mySlides {
    display: none;
    background-color: #f7a5f7;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.slideshow-container .mySlides>img {
    object-position: center center;
}


/* Next & previous buttons */

.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.slideshow-container .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.slideshow-container .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.slideshow-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-container .active,
.slideshow-container .dot:hover {
    background-color: #717171;
}

.bg-dark {
    height: 40px;
}

.subdata {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column: 20px;
}

.subdata a {
    align-self: start;
}

@media only screen and (max-width: 992px) {
    .header-node {
        grid-template-columns: 80px auto;
    }
    .item-a {
        place-self: center !important;
    }
    .text-purple {
        font-size: 1.6rem;
    }
    .text-purple-80 {
        font-size: 0.6rem;
    }
    .item-c {
        display: none;
    }
    .grid-container {
        grid-template-columns: fit-content(100%);
    }
    .grid-item img {
        width: 100%;
        object-fit: none;
        object-position: 90% 90%;
    }
    .science>img {
        width: 100%;
        object-fit: cover;
    }
    .bg-dark {
        height: auto;
    }
    .subdata {
        grid-template-columns: 200px;
    }
}